/* Example CSS (style.css) */
.calendar-container {
    width: 300px;
    margin: 20px auto;
    /* border: 1px solid #ccc; */
    padding: 200px;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #eee;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navigation span {
    cursor: pointer;
    font-weight: bold;
}
.take-attendance:hover{
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

}
.view-attendance:hover{
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.view-absent:hover{
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

}
label{
    font-weight: 600;
}
.current-page {
    position: relative;
}

.current-page::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -40px;
    width: 300px; 
    height: 110px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-bottom: 3px solid rgb(255, 255, 255);
    z-index: -1;
    /* border-bottom: none; */
}


.table-container::before{
    z-index: -99;
    position: absolute;
    content: "";
    height: 10px;
    width: 101%;
    /* background:black; */
    border-top: 1px solid black;
    top: -10px;
    z-index: -999;
}