.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
input[type="text"]:focus,input[type="password"]:focus,.btn:focus,.form-select:focus{
    box-shadow: none !important;
    outline: #A73CF8 !important;
    border:0.5px solid #A73CF8 !important ;
    /* border: none; */
}
.btn-primary {
  background-color: #1E2A38 !important;
}
.btn-second{
  background-color: #E9C46A;
}