<!-- view -attendance -->
<table class="table table-hover" id="table">
    <thead>

    </thead>
    <tbody>
        
    </tbody>
</table>
<!-- Absent Dates Modal -->
<div class="modal fade" id="absentModal" tabindex="-1" aria-labelledby="absentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center d-flex justify-content-center">
        <h5 class="modal-title text-center text-primary w-100" id="absentModalLabel">Absent Dates</h5>
      </div>
      <div class="modal-body d-flex justify-content-center" id="absentModalBody">
        <!-- Absent dates will be injected here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal" aria-label="Close">OK</button>

      </div>
    </div>
  </div>
</div>

<!-- <script src="../js/attendance.js"></script> -->